.js-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: grey;
    padding: 50px;
    width: 400px;
    margin: 0 auto;
    align-items: center;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.js-btn {
width: 150px;
height: 50px;
background-color: blue;
color: aliceblue;
font-size: 24px;
border-radius: 10px;
border: none;
}






.js-list {
    margin: 0;
    padding: 0;
    list-style: none;
display: flex;
gap: 20px;
margin-top: 20px;
}


.item{
    padding: 30px;
    background-color: grey;
}